/* Write CSS code here for nameplate-1 */
.navigation{
    border: 1px solid black;
    margin-left: 150px;
    margin-top: 300px;
    border-radius: 20px;
    background-color:black;
    width: 1000px;
    height: 100px;
}
.navigation span{
    float: left;
    padding: 25px;
    padding-bottom: 10px;
    color: white;
}

.pointsA{
    float: left;
    margin-left: 150px;
    padding: 10px;
    
}
.pointsB{
    float: left;
    margin-left: 5px;
    padding: 10px;
    
}
.pointsC{
    float: left;
    margin-left: 5px;
    padding: 10px;
    
}
.points1{
    float: left;
    margin-left: 290px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid blue;
    background-color: rgb(139, 139, 174);

}
a{
text-decoration: none;
color: white;
}
body{
    background-color: rgb(166, 196, 192);
}